<ng-container *ngIf="variant === 'github'; else defaultTag">
  <a 
    [href]="link" 
    target="_blank" 
    rel="noopener noreferrer"
    [ngClass]="{
      'bg-white text-black dark:bg-black dark:text-white border-black dark:border-white': variant === 'github'
    }"
    class="inline-flex items-center gap-1 px-3.5 py-1 rounded-lg border font-bold font-serif hover:no-underline"
  >
    <i class="fab fa-github"></i>
    {{ name }}
  </a>
</ng-container>

<ng-template #defaultTag>
  <span
    [ngClass]="{
      'bg-teal-700 dark:bg-emerald-600 text-white border-gray-950 dark:border-gray-50': variant === 'default'
    }"
    class="inline-flex items-center gap-1 px-3.5 py-1 rounded-lg border font-bold font-serif"
  >
    {{ name }}
  </span>
</ng-template>