<nav class="bg-[#67977c] dark:bg-gray-800 text-white shadow-md sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-6 py-5 flex justify-between items-center">
    <ul class="flex gap-8 font-bold">
      <li><a href="#start" class="hover:underline text-lg">Inicio</a></li>
      <li><a href="#about-me" class="hover:underline text-lg">Sobre mí</a></li>
      <li><a href="#projects" class="hover:underline text-lg">Proyectos</a></li>
    </ul>
    <app-theme-toggle></app-theme-toggle>
  </div>
</nav>
