<nav class="sticky top-0 z-50 shadow-lg bg-emerald-600 dark:bg-gray-800">
  <div class="flex items-center justify-between max-w-6xl px-6 py-4 mx-auto">
    <a
      href="/"
      class="hidden text-xl font-bold text-white transition-colors duration-300 md:block font-display"
    >
      Luis Sagnay
    </a>

    <button
      class="order-1 text-white md:hidden focus:outline-none"
      (click)="toggleMenu()"
      aria-label="Toggle navigation"
    >
      <i class="fas" [ngClass]="isMenuOpen() ? 'fa-times' : 'fa-bars'"></i>
    </button>

    <ul
      class="absolute left-0 z-40 flex flex-col w-full gap-8 px-6 py-4 font-bold text-white transition-all duration-300 ease-in-out md:flex-row md:flex md:static top-16 md:w-auto bg-emerald-600 dark:bg-gray-800 md:bg-transparent md:dark:bg-transparent md:p-0"
      [class.hidden]="!isMenuOpen()"
    >
      <li>
        <a
          href="#start"
          (click)="closeMenu()"
          class="relative p-2 font-semibold text-white transition-colors duration-300 group"
        >
          Home
          <span
            class="absolute bottom-0 left-0 w-0 h-1 transition-all duration-300 bg-white dark:bg-emerald-400 group-hover:w-full"
          ></span>
        </a>
      </li>

      <li>
        <a
          href="#projects"
          (click)="closeMenu()"
          class="relative p-2 font-semibold text-white transition-colors duration-300 group"
        >
          Projects
          <span
            class="absolute bottom-0 left-0 w-0 h-1 transition-all duration-300 bg-white dark:bg-emerald-400 group-hover:w-full"
          ></span>
        </a>
      </li>
      <li>
        <a
          href="#about-me"
          (click)="closeMenu()"
          class="relative p-2 font-semibold text-white transition-colors duration-300 group"
        >
          About Me
          <span
            class="absolute bottom-0 left-0 w-0 h-1 transition-all duration-300 bg-white dark:bg-emerald-400 group-hover:w-full"
          ></span>
        </a>
      </li>
      <li>
        <a
          href="#contact"
          (click)="closeMenu()"
          class="relative p-2 font-semibold text-white transition-colors duration-300 group"
        >
          Contact
          <span
            class="absolute bottom-0 left-0 w-0 h-1 transition-all duration-300 bg-white dark:bg-emerald-400 group-hover:w-full"
          ></span>
        </a>
      </li>
    </ul>

    <div class="hidden ml-4 md:block">
      <app-theme-toggle></app-theme-toggle>
    </div>

    <div class="order-3 block md:hidden">
      <app-theme-toggle></app-theme-toggle>
    </div>
  </div>
</nav>
