<nav class="bg-primary-400 dark:bg-gray-800 shadow-lg sticky top-0 z-50">
  <div class="max-w-7xl mx-auto px-6 py-4 flex justify-between items-center">
    <ul class="flex gap-8 font-bold text-white font-body">
      <li>
        <a href="#start" 
          class="font-semibold text-white transition-colors duration-300 px-2 py-2 relative group">
          Inicio
          <span class="absolute bottom-0 left-0 w-0 h-1 bg-primary-900 dark:bg-secondary-500 transition-all duration-300 group-hover:w-full"></span>
        </a>
      </li>
      <li>
        <a href="#about-me" 
          class="font-semibold text-white transition-colors duration-300 px-2 py-2 relative group">
          Sobre mí
          <span class="absolute bottom-0 left-0 w-0 h-1 bg-primary-900 dark:bg-secondary-500 transition-all duration-300 group-hover:w-full"></span>
        </a>
      </li>
      <li>
        <a href="#projects" 
          class="font-semibold text-white transition-colors duration-300 px-2 py-2 relative group">
          Proyectos
          <span class="absolute bottom-0 left-0 w-0 h-1 bg-primary-900 dark:bg-secondary-500 transition-all duration-300 group-hover:w-full"></span>
        </a>
      </li>
    </ul>
    <app-theme-toggle></app-theme-toggle>
  </div>
</nav>
