<section id="start" class="bg-stone-200 dark:bg-gray-900 mt-8 py-20 px-6 flex items-center" >
  <div class="mx-auto">
    <div class="flex flex-col lg:flex-row items-center gap-12">
      <div class="foto flex-shrink-0 relative group">
        <div class="absolute -inset-2 rounded-full bg-gradient-to-tr from-teal-400 via-teal-700 to-emerald-500 opacity-25 group-hover:opacity-40 transition-opacity duration-500 blur-xl"></div>

        <img src="https://avatars.githubusercontent.com/u/144053683?v=4" 
            alt="Foto de Luis Sagnay" 
            class="relative z-10 w-64 h-64 lg:w-80 lg:h-80 rounded-full object-cover border-4 border-white dark:border-gray-700 group-hover:scale-105 transition-transform duration-500 ease-in-out shadow-xl" />
      </div>

      <div class="info text-center lg:text-left flex-1">
        <div class="space-y-4">
          <h1 class="text-5xl font-title lg:text-5xl font-bold text-gray-900 dark:text-gray-100">
            Hola, soy 
            <span class="text-teal-700 dark:text-emerald-500">
              Luis Sagnay
            </span>
          </h1>
          
          <h3 class="font-body text-xl lg:text-xl text-gray-800 dark:text-gray-300 max-w-2xl font-semibold">
            Estudiante de la Universidad de las Fuerzas Armadas ESPE
          </h3>
          
          <h4 class="font-body text-lg lg:text-lg text-teal-700 dark:text-emerald-500 font-semibold">
            Carrera de Ingeniería de Software
          </h4>
          
          <div class="flex flex-col sm:flex-row gap-4 mt-8 justify-center lg:justify-start">
            <a href="#projects"
              class="bg-teal-700 text-white px-5 py-2 rounded-xl font-medium hover:text-teal-700 hover:border-2 hover:border-teal-700 hover:bg-transparent hover:scale-110 transition-all duration-300 dark:bg-emerald-600 dark:hover:text-white dark:hover:border-emerald-600">
              Ver Proyectos
            </a>

            <a href="#contact"
              class="border-2 border-teal-700 text-teal-700 hover:bg-teal-700 hover:text-white px-5 py-2 rounded-xl font-medium hover:scale-110 transition-all duration-300 dark:border-emerald-600 dark:text-white dark:hover:bg-emerald-600">
              Contactar
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>