<section id="start" class="bg-stone-200 dark:bg-gray-800 mt-10 py-20 px-6 flex items-center" >
  <div class="mx-auto">
    <div class="flex flex-col lg:flex-row items-center gap-12">
      <div class="foto flex-shrink-0 relative">
        <div class="absolute inset-0 bg-gradient-to-r from-primary-400 to-primary-950 rounded-full blur-xl opacity-20 animate-pulse"></div>
        <img src="img/luis.jpeg" 
             alt="Foto de Luis Sagnay" 
             class="relative lg:w-80 lg:h-80 rounded-full object-cover border-4 border-white dark:border-gray-700 hover:scale-105 transition-transform duration-300">
      </div>
      
      <div class="info text-center lg:text-left flex-1">
        <div class="space-y-4">
          <h1 class="text-5xl font-title lg:text-5xl font-bold text-gray-900 dark:text-gray-100">
            Hola, soy 
            <span class=" text-primary-900">
              Luis Sagnay
            </span>
          </h1>
          
          <h3 class="font-body text-xl lg:text-xl text-gray-800 dark:text-gray-300 max-w-2xl font-semibold">
            Estudiante de la Universidad de las Fuerzas Armadas ESPE
          </h3>
          
          <h4 class="font-body text-lg lg:text-lg text-primary-900 dark:text-secondary-500 font-semibold">
            Carrera de Ingeniería de Software
          </h4>
          
          <div class="flex flex-col sm:flex-row gap-4 mt-8 justify-center lg:justify-start">
            <button class="bg-primary-900  text-white px-8 py-3 rounded-lg font-medium hover:text-primary-900 hover:border-2 hover:border-primary-900 hover:bg-transparent hover:scale-105 transition-all duration-300 ">
              Ver Proyectos
            </button>
            <button class="border-2 border-primary-900 text-primary-900 hover:bg-primary-900 hover:text-white px-8 py-3 rounded-lg font-medium hover:scale-105 transition-all duration-300">
              Contactar
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>